<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>{{request.user}}</h1>
    <h3><a href="{% url 'logout' %}">Logout</a></h3>
    {% else %}
    <h3><a href="{% url 'login' %}">Login</a></h3>
    {% endif %}
    <hr><hr>
    <table>
        <tr><a href="{% url 'task-create' %}">click here to Add New Task</a></tr><br>
        <tr>
            <form action="" method="GET">
                {% csrf_token %}
                <input type="text" name="search-area" valuye="{{search_input}}"><br>
                <input type="submit" value="search">
            </form>
        </tr>
        <tr>
            <th>Items</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td><a href="{% url 'DetailsView' task.id %}">view</a></td>
            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
        </tr>
        {% empty %}
            <h3>no items</h3>
        {% endfor %}
    </table>
</body>
</html>